{
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    }
  ]
}
